.car_all{
    width: 100%;
    background: #fff;
}
.header_bar{
    width: 100%;
    height: 0.88rem;
    /*background: red;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
    width: 5.78rem;
    height: 0.50rem;
    background: #eaebed;
    display: flex;
    align-items: center;
    border-radius: 0.06rem;
}
.search span{
    margin-left: 0.1rem;
}
.search input{
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    background: none;
}
.search input::-webkit-input-placeholder {
    color: #262626;
    font-size: 0.22rem;
}
.header_bar p{
    margin-right: 0.1rem;
}
.list_filter{
    width: 100%;
    height: 0.8rem;
    display: flex;
    align-items: center;
}
.list_filter button:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_filter button {
    flex: 1;
    outline: none;
    background: #fff;
    color: #262626;
    font-size:0.3rem;
    border: 0;
    height: 0.8rem;
    position: relative;
}
.list_filter button div{
    margin-left: 0.08rem;
}
.list_filter button strong{
    display: block;
    width: 0.6rem;
    height: 0.06rem;
    background:rgb(119,188,31);
    position: absolute;
    bottom: 0.07rem;
    left: 50%;
    transform: translate(-50%);
}
.list_filter button div i{
    display: block;
    width: 0;
    height: 0;
    border-top: 0.11rem solid transparent;
    border-right: 0.11rem solid transparent;
    border-bottom: 0.11rem solid rgb(153,153,153);
    border-left: 0.11rem solid transparent;
    margin-bottom: 3px;
}
.list_filter button .i1{
    display: block;
    width: 0;
    height: 0;
    border-top: 0.11rem solid transparent;
    border-right: 0.11rem solid transparent;
    border-bottom: 0.11rem solid rgb(119,188,32);
    border-left: 0.11rem solid transparent;
    margin-bottom: 3px;
}
.list_filter button div p{
    width: 0;
    height: 0;
    border-bottom: 0.11rem solid transparent;
    border-right: 0.11rem solid transparent;
    border-top: 0.11rem solid rgb(153,153,153);
    border-left: 0.11rem solid transparent;
}
.list_filter button:last-child span{
    margin-left: 0.25rem;
}
.product_block{
    width: 100%;
    margin-top: 0.1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product_block .item_cont{
    width: 49%;
    background: #fff;
    margin-bottom: 0.1rem;
    overflow: hidden;
}
.item_cont .item_img{
    height: 185px;
}
.item_img img{
    width: 100%;
    height: 100%;
}
.item_cont p{
    text-align: left;
    padding: 0.1rem;
    font-size: 14px;
    width: 3.66rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item_cont .item_price{
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item_price p>span{
    color:#ee2e52 ;
    margin-right: 0.2rem;
    font-weight: bold;
}
.item_price p i{
    font:inherit;
    font-size: 11px;
    text-decoration: line-through;
    color: gray;
}
.item_price strong{
    color: green!important;
    margin-right: 0.3rem;
    font-size: 0.5rem;
}
.button_car{
    width: 0.96rem;
    height: 0.96rem;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f6f6f6;
    box-shadow: 0 0 10px #ebebeb;
    position: fixed;
    bottom: 0.8rem;
    left: 0.4rem;
}
.button_car span{
    font-size: 0.5rem;
    margin-right: 0.1rem;
}
.button_car i{
    display: block;
    font: inherit;
    font-size: 0.24rem;
    background: #ff9601;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 0.3rem;
}
.button_btn{
    position: fixed;
    right: 0.4rem;
    bottom:0.8rem;

}
.button_btn .button_top{
    width: 0.69rem;
    height: 0.69rem;
    background: #000;
    border-radius: 50%;
    opacity: 0.6;
    color: #f9f9f9;
    overflow: hidden;
    font-size: 0.1rem;
    margin-bottom: 0.3rem;
}
.button_top p:first-child{
    margin-top: 0.05rem;
}
.button_section{
    width: 0.69rem;
    height: 0.69rem;
    background: rgb(119,188,31);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_section span{
   font-size: 0.45rem;
    color: #fff;
}
/*选中颜色*/
.w_active{
    color: rgb(163,188,31);
}
/*loading*/
.w_div{
    width: 100%;
    height: 100vh;
    background: #ffffff!important;
}
.w_loading{
    width:1.2rem;
    height: 1rem;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}